<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woone.goo.DAO.RoomDao">
	<select id="Roompay" resultType="com.woone.goo.DTO.RoomDto">
		select price from room where ROOMNAME = #{param1}
	</select>
	<select id="Roomamount" resultType="com.woone.goo.DTO.RoomDto">
		select flag from room where ROOMNAME = #{param1}
	</select>
</mapper>